@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma&display=swap');
body {
    font-family: 'Varela Round', sans-serif;
    background-color: #292f33!important;
}

.spacer {
    margin-top: 3%;

}
.spacerbottom {
    margin-bottom: 3px;
}

#background {
   background-image: url("../img/backgroundcactus.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

#video {
    border: ridge 2px white;


}

#twitch-embed {

    border-top: solid 2px white;

}
